# ignore all by default
*

# include dotfiles
!.astylerc
!.bash
!.bash/local
!.bash/local/*
!.bash_compat
!.bash_linux
!.bash_osx
!.bash_profile
!.bashrc
!.emacs
!.gitconfig
!.gitignore
!.gitignore_global
!.gitmodules
!.inputrc
!.racketrc
!.screenrc
!.tmux.conf
!.vimrc

# include readme
!Readme.md

# include tools
!tools
!tools/*

