[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim
[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = git@github.com:jimeh/git-aware-prompt.git
[submodule ".vim/bundle/localvimrc"]
	path = .vim/bundle/localvimrc
	url = git@github.com:vim-scripts/localvimrc.git
[submodule ".vim/bundle/django.vim"]
	path = .vim/bundle/django.vim
	url = git@github.com:vim-scripts/django.vim.git
[submodule ".emacs.d/js-comint"]
	path = .emacs.d/js-comint
	url = git@github.com:adolfosousa/emacs-js-comint-mode.git
[submodule ".emacs.d/ethan-wspace"]
	path = .emacs.d/ethan-wspace
	url = git@github.com:glasserc/ethan-wspace.git
[submodule ".emacs.d/smooth-scrolling"]
	path = .emacs.d/smooth-scrolling
	url = git@github.com:aspiers/smooth-scrolling.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = git@github.com:wting/rust.vim.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule ".vim/bundle/vim-ant"]
	path = .vim/bundle/vim-ant
	url = git@github.com:teneighty/vim-ant
[submodule ".vim/bundle/vim-autoformat"]
	path = .vim/bundle/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule ".vim/bundle/dart-vim"]
	path = .vim/bundle/dart-vim
	url = git@github.com:dart-lang/dart-vim-plugin.git
[submodule ".vim/bundle/vim-racket"]
	path = .vim/bundle/vim-racket
	url = git@github.com:wlangstroth/vim-racket.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript
