*
!.astylerc
!.bash
!.bash/local
!.bash/local/*
!.bash_compat
!.bash_linux
!.bash_osx
!.bash_profile
!.bashrc
!.emacs
!.emacs.d
!.gitconfig
!.gitignore
!.gitmodules
!.inputrc
!.racketrc
!.screenrc
!.vim
!.vimrc
!tools
!tools/*
*.pyc
