# ignore all by default
*

# include dotfiles
!.astylerc
!.bash
!.bash/local
!.bash/local/*
!.bash_compat
!.bash_linux
!.bash_osx
!.bash_profile
!.bashrc
!.emacs
!.emacs.d
!.gitconfig
!.gitignore
!.gitignore_global
!.gitmodules
!.inputrc
!.racketrc
!.screenrc
!.tmux.conf
!.tmux/plugins
!.vim/bundle
!.vimrc

!Readme.md

# tools
!tools
!tools/*

# setup
!setup.sh

